@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pagina h6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}


img {
  vertical-align: middle;
}

#titulo {
  text-align: center;
}

#pagina {
  width: 21cm;
  padding-left: 3cm;
  padding-right: 2cm;
  padding-bottom: 2cm;
  padding-top: 3cm;
}

#ref {
  padding-left: 3cm;
  padding-right: 2cm;
  padding-bottom: 2cm;
  padding-top: 3cm;
  width: 21cm;
}

.card-2 {
  flex-direction: column;
  flex-wrap: wrap;
  height: 15vh;
}

.topico1 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.topico2 {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.topico3 {
  text-align: right;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.slideshow-container {
  width: 100%;
  height: 80vh;
  position: relative;
  margin: auto;
}

.container-fluid {
  margin-top: 60px;
}

div>a {
  text-decoration: none;
  color: black;
}

div>a:hover {
  color: black;
}

li {
  text-decoration: none;
}

.texto {
  font-size: 12pt;
  text-indent: 2cm;
  text-align: justify;
}

.tref {
  font-size: 10pt;
  margin-left: 4cm;
  text-align: justify;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #676464;
  border-radius: 50%;
  display: inline-block;
  transition: 6s;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


p#aprenda {
  font-family: cursive;
  margin-left: 20px;
  font-size: 30px;
  margin-top: 14px;
  float: left;
}

.sociais ul li {
  display: inline-block;
  list-style: none;
  height: 60%;
  margin-left: 6px;
  margin-top: 16px;
}

.sociais {
  width: 30%;
  float: right;
}

.caixa {
  display: grid;
  text-align: center;
  color: black;
}

.div01 {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div01 img {
  margin-top: 15px;
  border: 3px solid black;
}

.topico01 {
  margin-top: 30px;
  float: right;
  margin-left: 20px;
}

.topico02 {
  margin-top: 30px;
  float: right;
  margin-left: 20px;
}

.topico03 {
  margin-top: 30px;
  float: right;
  margin-left: 20px;
}

.topico05 {
  margin-top: 30px;
  float: right;
  margin-left: 20px;
}

.topico06 {
  margin-top: 30px;
  float: right;
  margin-left: 20px;
}

.topico07 {
  margin-top: 30px;
  float: right;
  margin-left: 20px;
}

.topico01:hover,
.topico02:hover,
.topico03:hover,
.topico04:hover,
.topico05:hover,
.topico06:hover,
.topico07:hover {
  transform: scale(1.1);
}

.topico01,
.topico02,
.topico03,
.topico04,
.topico05,
.topico06,
.topico07 ins{
  margin-right: 30px;
}

.header-2 {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  position: absolute;
  margin-top: 60px;
}

.busca {
  width: 30%;
  float: right;
}

.busca input {
  text-align: center;
  margin-top: 13px;
  margin-right: 100px;
  height: 20px;
}

#tres-colunas {
  display: flex;
  justify-content: space-between;

  
  
}


@media only screen and (max-width: 480px) {
  .text {
    font-size: 15px;
    position: relative;
    bottom: 45px;
  }
  #tres-colunas {

    display: block;
    text-align: center;
  }
  .card-body {
    display: block;
  }
  .topico3 {
    text-align: center;
  }

  .mobile-menu {
    background-color: rgb(167, 167, 167);
    margin-left: 12vh;
    border-radius: 7px;
  }

  .logofs {
    margin-right: 4vh;
  }



  .nav-list.active {
    position: absolute;
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
    width: 100%;
    display: inline-flex;
  }
  .nav-list.active a {
    color: white;
  }
  .slideshow-container {
    position:static;
  }

  .caixa {
    text-align: justify;
  }

  .div01 {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
  }

  .rodape {
    padding-bottom: 75vh;
    position: relative;
    bottom: 0;
  }
  .rodape .container {
    height:25vh;
  }

  #pagina {
    width: 100%;
      padding-left: 1cm;
      padding-right: 0.5cm;
      padding-bottom: 1cm;
      padding-top: 1.5cm;
  }

  #ref {
    padding-left: 1cm;
    padding-right: 0.5cm;
    padding-bottom: 1cm;
    padding-top: 1.5cm;
    width: 100%;
  }
}